.warning
{
    border-left: 4px dotted #f39539;
    background-color: #fdefe1;
}

.example
{
    border-right: 4px solid #3fa5db;
    background-color: #e6f4fa;
}

.text-right
{
    text-align: right;
}

.link
{
    font-size: 60px;
    background: black;
    color: white;
    border: 4px dotted white;
    border-radius: 20px;
}

.link:hover
{
    background: white;
    color: black;
    border: 4px dotted black;
}

.link2
{
    font-size: 20px;
    font-weight: bold;
}

.link2:hover
{
    font-weight: normal;
    font-style: italic;
}

.grossis
{
    text-decoration: line-through;
}

.grossis:hover
{
    font-size: 25px;
}