#faq {
  .card-header {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    white-space: normal;
    font-size: 1.1rem;
    background: $ligh_blue;
    color: $white;
    font-weight: bold;

    &:hover
    {
        background: darken($ligh_blue, 10);
    }
  }

  .card-body
  {
    color: $black;
  }
}