@import "config";
@import "menu";
@import "sections";
@import "buttons";
@import "faq";

body,
html {
  height: 100%;
  width: 100%;
  text-align: center;
}

.centered {
  position: relative;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.card
{
  margin-bottom: .8rem;
}

h1
{
  margin-bottom: 1rem;
}


footer
{
  background-color: darken($ligh_blue, 10);

  &, a
  {
    color: $white;
  }
}

@import "mobile";
